@import "../../node_modules/bootstrap/scss/bootstrap";

footer {
  justify-content: center;
  gap: 2rem;
}

@media(max-width: 500px) {
  footer {
    flex-direction: column;
  }
}

.letter {
  color: black;
  height: 60px;
  max-width: 46px;
  padding: 0;
}

.unused {
}

.notInWord {
  background-color: gray;
}

.inPosition {
  background-color: green;
}

.inWord {
  background-color: yellow;
}
