.unused {
}

.notInWord {
    background-color: gray;
}

.inPosition {
    background-color: green;
}

.inWord {
    background-color: yellow;
}

.keyboardKey {
    composes: letter from './Letter.module.css';
}
